
.custom__select {
  position: relative;
  width: 200px;
}

.select__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;

  &.open {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.dropdown {
  margin-top: 2px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
  // border: 1px solid #ccc;
  border-top: none;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;

  &.open {
    max-height: 200px; /* Здесь установите максимальную высоту, на которую должен раскрываться список */
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      border: 1px solid #ccc;
      padding: 10px;
      cursor: pointer;
      transition: background-color 0.2s;

      &:hover {
        background-color: #f0f0f0;
      }
    }
  }
}
